.content {
    position: absolute;
    top: 48px;
    left: 226px;
    height: calc(100vh - 105px);
    width: calc(100vw - 226px);
}

.content .title {
    margin-top: 18px;
    margin-left: 16px;
    float: left;
    font-size: 15px;
}

.content .search {
    position: absolute;
    display: flex;
    align-items: center;
    padding-left: 40px;
    margin-left: 16px;
    margin-top: 64px;
    height: 38px;
    width: 261px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    font-size: 11px;
}

.content .search:hover {
    border-color: #019160;
}

.content .search-icon {
    position: absolute;
    z-index: 2;
    height: 16px;
    width: 16px;
    margin-top: 78px;
    margin-left: 32px;
    margin-right: 8px;
    background-image: url('../../content/icon/search.png');
    background-position: center;
    background-repeat: no-repeat;
}

.content .add-employee {
    background-color: #019160;
    color: #ffffff;
    display: flex;
    align-items: center;
    margin-right: 16px;
    margin-top: 12px;
    float: right;
    height: 40px;
    width: 148px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
}

.content .add-employee:hover {
    background-color: #2fbe8e;
}

.content .add-employee:active {
    background-color: #01b075;
}

.content .add-employee .icon {
    margin-left: 16px;
    margin-right: 8px;
    float: right;
    height: 24px;
    width: 24px;
    background-image: url(../../content/icon/add.png);
    background-repeat: no-repeat;
}

.content .add-employee .add {
    font-style: normal;
}

.content .department {
    margin: 64px;
    margin-left: 329px;
    border-radius: 4px;
    padding-left: 16px;
    line-height: 40px;
    position: absolute;
    height: 40px;
    width: 150px;
    border: 1px solid #e5e5e5;
    cursor: pointer;
}

.content .position {
    padding-left: 16px;
    line-height: 40px;
    margin-top: 64px;
    margin-left: 505px;
    position: absolute;
    height: 40px;
    width: 150px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    cursor: pointer;
}

.content .refresh {
    clear: right;
    display: flex;
    float: right;
    z-index: 2;
    margin-top: 10px;
    margin-right: 16px;
    height: 40px;
    width: 50px;
    border: 1px solid #e5e5e5;
    border-radius: 4px;
    background-image: url(../../content/icon/refresh.png);
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.content .table {
    position: absolute;
    margin-left: 16px;
    margin-top: 114px;
    height: calc(100vh - 219px);
    width: calc(100vw - 258px);
    border-collapse: collapse;
}

.content .table tr:nth-child(even) {
    background-color: #e5e5e5;
}

.content .table tr:hover {
    background-color: #bbbbbb;
}

.content .table td,
.table th {
    padding: 8px;
}

.content .table th {
    margin: auto;
    text-align: left;
}

.content .table .right {
    text-align: right;
}

::placeholder {
    color: #bbbbbb;
    opacity: 1;
}